*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.fira-sans{
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}
/* navbar */
nav{
    display: flex;
    background: rgba(245, 245, 245, 1);
    padding: 24px 10%;
    /* width: 1600px; */
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
.sign-in a{
    color: #006A50;
    font-size: 18px;
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
}
main .hero{
    width: 80%;
    max-width: 1280px;
    margin:  auto;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 60px;
    display: flex;
    gap: 64px;
    background: rgba(198, 228, 214, 1);
    border-radius: 24px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.text p{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.text h2{
    color: rgba(14, 14, 14, 1);
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}
.text .btn{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
}
.container{
    width: 80%;
    max-width: 1280px;
    margin:  auto;
    margin-bottom: 80px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 1);
}
.sub-heading{
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.card-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}
.card{
    width: 300px;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    margin-top: 8px;
}
.card img{
    width: 64px;
    margin-bottom: 25px;
}
.card h3{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}
.card p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.vision p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}
.v-card{
    padding: 32px;
    width: 410.67px;
    height: 325px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    position: relative;
    border-radius: 16px;
    margin-top: 8px;
}
.v-card img{
    width: 64px;
}
.v-card h3{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    margin: 24px 0px;
}
.v-card p{
    line-height: 24px;
}
.v-card .btn{
    position: absolute;
    bottom: 32px;
    padding: 11px 20px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.v-card:first-child{
    background: rgba(84, 144, 245, 0.2);
}
.v-card:first-child .btn{
    background: rgba(84, 144, 245, 1);
}
.v-card:nth-child(2){
    background: rgba(198, 228, 214, 1);
}
.v-card:nth-child(2) .btn{
    background: rgba(9, 161, 92, 1);
}
.v-card:nth-child(3){
    background: rgba(247, 235, 207, 1);
}
.v-card:nth-child(3) .btn{
    background: rgba(255, 194, 57, 1);
}
/* quote */
.quote{
    margin-top: 32px;
    padding: 48px 24px;
    
}
.quote .name{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
}
.opinion-box{
    padding: 32px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
}
.opinion-box .box{
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24;
}
.opinion-box .box:first-child{
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(198, 228, 214, 1);
}
.box p{
    color: rgba(14, 14, 14, 1);
    font-size: 20px;
    font-weight: 600;
}
.opinion-box hr{
    color: rgba(14, 14, 14, 0.15);
    height: 1px;
}
.box:nth-child(n+2):nth-child(-n+4){
    
    background: rgba(255, 255, 255, 0.1);
}
.box .para p{
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-style: SemiBold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.box .button a{
    padding: 10px 14px 10px 14px;
    border: 1px solid rgba(14, 14, 14, 1);
    border-radius: 4px;
    background: rgba(198, 228, 214, 1);
    text-align: center;
    color: rgba(14, 14, 14, 1);
    font-size: 16px;
    font-weight: 500;
}